/.dub/
/build/
/.waf3-?.*.*-*/
/.waf-?.*.*-*/
/waf3-?.*.*-*/
/waf-?.*.*-*/
/.sass-cache/
/logs/
/static/version.txt
/dub.selections.json
/.lock-waf*build
/gvrepsrv
/*.exe
/*.a
/*.lib
__pycache__/
*.py[co]
