body,html {font-family: Verdana, Helvetica, Arial, sans-serif; color:#555555; font-size:90%; background-color:#FFFFFF}
a:hover {color:#DA251D; text-decoration:none}
a{ color:#199BDC; text-decoration:underline}
input.input_btn{ font-size:12px; text-decoration:none}
.error{ color: red}
.success{ color: green;}
h1, h2 {color:#105CB6;}
.godville {color:#105CB6; font-weight:normal; margin:0; padding:0}
h2 {text-align: left; margin-bottom: 1.0em}
#bookmarks{ background-color:#F6F6F9; border:1px solid #CCCCCC; bottom:0pt; font-size:0.9em; margin-top:2em; padding: 0.3em; clear:both; text-align: center}
 .pagination {clear:both; text-align: center; font-weight:normal; font-size:0.9em}
.markup-preview {background:#F3F3F3 url(../images/preview.png) repeat scroll center; border:1px solid #999999; color:#000000; height:158px; margin:0.5em 0pt; overflow:auto; padding:0.5em; width:90%}
blockquote{ border:1px solid #cda; border-left:3px solid #9a7; border-right:0; background:#efc; padding:1px 10px; margin-left:0; margin-right:0}
pre{ font-size:1.2em; background:#eee; padding:5px 10px; border:1px solid #ccc; border-left:3px solid #ddd; border-right:0; overflow:auto; font-family: "Monaco", "Bitstream Vera Sans Mono", "Courier New", serif}
div.editbox {background-color: #fcfcfc; border:1px solid #999999; border-width:1px 0; position:fixed; bottom:0; left:0; width:100%; padding:6px 0 7px; z-index:50; text-align: left}
div.editbox_iphone {border:1px solid #999999; border-width:1px 1px 1px 1px; margin-top:1em; background:url(/images/forum/reply_background.png); width:100%; z-index:50; text-align: left}
div.editbox .container {width:92%; margin:0 auto; min-width:760px}
#menu_bar{ font-size: 90%;  padding: 1em 0em 1em 0em; padding-bottom: 1em; text-align: center;  width: 100%}
#menu_bar ul {list-style: none; margin: 0; padding: 0}
#menu_bar li{ display: inline}
#menu_bar a:link, #menu_bar a:visited {  text-decoration: none;  }
#page_wrapper{ width:995px; margin-left:auto; margin-right:auto; height:auto}
#title {font-weight:bold; color:#199BDC; font-size:120%; text-align: left}
.panth_c_t {}
.panth_c_ch {font-style:italic}
.own {background-color: #FFFFE0;}
body {margin:0}
#sail_map {padding:10px;overflow-x:auto;overflow-y:auto;background-color: rgba(240, 240, 240, 1.0);}
.block {border:0px;padding:0.5em 0.1em 0.5em 0.1em;}
.block_h a {text-decoration:none;color: #444;font-weight: bold;}
.afl .block_h {height:25px;text-align:center;width:100%;margin-top:5px;float:left;}
.box .block_h {height:25px;text-align:center;width:100%;float:left;color: #444;font-weight: bold;}
.new_line {position:relative;clear:both;padding: 4px 5px 7px 5px;min-height:25px;}
.d_capt {float: left; width: 47px;text-align:center;}
.d_turn {color:#777;font-size:85%;}
.d_clear {clear:both;}
.text_content {text-align: left; padding-left: 52px; word-wrap: break-word}
.afl {padding:0 0 10px 0;margin-top:30px;border-radius: 6px;border: 1px solid #CCC;position:relative;box-shadow: 0px 0px 5px #C0C0C0;}
.afl legend {height:25px;text-align:center;width:100%;margin-top:5px;float:left;}
#fight_log_capt {text-decoration:none;color: #444;font-weight: bold;}
.c {text-align:center;}
.afl {background: #F5F5F5 -webkit-gradient(linear, left top, left 60, from(#F6F8F9), to(#F7F7F7), color-stop(0.5, #E7E7E7), color-stop(0.5, #F9F9F9)); background: #F5F5F5 -moz-linear-gradient(top, #F7FBFE, #E7E7E7 31px, #F9F9F9 31px, #F7F7F7); background: #F5F5F5 -o-linear-gradient(top, #F7FBFE, #E7E7E7 31px, #F9F9F9 31px, #F7F7F7); background-color:#FAFAFA}
.saild_1 {background-color:rgba(163, 180, 225, 0.25)}
.saild_2 {background-color:rgba(239, 161, 105, 0.25)}
.saild_3 {background-color:rgba(179, 230, 179, 0.25)}
.saild_4 {background-color:rgba(38, 223, 189, 0.25)}
.lastduelpl {text-align: center; margin: 10px}
.lastduelpl span {font-size:1.17em;font-weight:bold;}
.lastduelpl_f {font-size: 90%; color: #888; text-align: center; padding: 1em}
#h_tbl{ border-collapse:collapse; margin-left: auto; margin-right: auto; margin-top: 0.7em; margin-bottom: 1em}
table {border-radius:5px; -webkit-box-shadow: 0px 0px 5px #C0C0C0; -moz-box-shadow: 0px 0px 5px #C0C0C0}
th{ font-weight:bold; color: #4f6b72; letter-spacing: 1px; text-align: center; padding: 8px 12px 8px 12px; background: #F5F5F5 -webkit-gradient(linear, left top, left 200%, from(#F6F8F9), to(#F7F7F7), color-stop(0.5, #E7E7E7), color-stop(0.5, #F9F9F9)); background: #F5F5F5 -moz-linear-gradient(top, #F7FBFE, #E7E7E7 100%, #F9F9F9 100%, #F7F7F7); background: #F5F5F5 -o-linear-gradient(top, #F7FBFE, #E7E7E7 100%, #F9F9F9 100%, #F7F7F7); background-color:#FAFAFA; border-right: 1px solid #ddd}
table td {font-family: Verdana, Arial, Helvetica, sans-serif; text-align: left; border-right: 1px solid #ddd; border-top: 1px solid #ddd; padding: 6px 12px 6px 12px; color: #4f6b72}
li{list-style-type: none;border-bottom-width:1px; font-weight: bold; padding: .5em 1.143em; border-width: 1px 0 0; border-style: solid; background-color: #F7F7F7; border-color: #ddd; color: #333; text-shadow: 0 1px 0 #eee; text-align:center}
.cmplt_status {-moz-border-radius: 6px; -webkit-border-radius: 6px; -khtml-border-radius: 6px; border-radius: 6px; background-color: #FFFED0; border: 1px solid #BBBBBB; color: #444444; line-height: 1.5; margin: 3px 3px 3px 3px; padding: 2px 5px 2px 5px; position:absolute;z-index:1000; width:15em; text-align:center; right:0}
.infl {color:#38599A}
.opp_infl {color:#800000}
@media only screen and (max-width: 350px) {#sail_map {height:350px;width:350px}
}
@media only screen and (min-width: 500px) {#fight_chronicle {width:500px; margin-left: auto;margin-right: auto;}
}
.tfdbk textarea {width:540px;}
legend a {text-decoration:none;color: #444;font-weight: bold;}
.d_imp {font-weight:bold;}
svg {pointer-events: visiblePainted; -webkit-user-select: none; -moz-user-select: none; user-select: none; margin: 0 auto; display:block}
.tile polygon {pointer-events: visiblePainted; stroke: hsl(0, 0%, 70%); stroke-width: 0.5}
.imp polygon {pointer-events: visiblePainted; stroke: hsl(0, 0%, 70%); stroke-width: 2.5}
.tile.imp.i1 polygon{fill: hsl(0, 90%, 92%);}
.imp.i2 polygon{fill: hsl(39, 93%, 77%);}
.imp.i3 polygon{fill: hsl(61, 93%, 77%);}
.imp.i4 polygon{fill: hsl(123, 90%, 92%);}
.imp.i5 polygon{fill: hsl(180, 90%, 92%);}
.imp.i6 polygon{fill: hsl(221, 92%, 79%);}
.imp.i7 polygon{fill: hsl(275, 92%, 79%);}
.tile.oi1 polygon{stroke: hsla(0, 89%, 62%, 1.0); stroke-width: 1.0}
.tile.oi2 polygon{stroke: hsla(39, 93%, 52%, 1.0); stroke-width: 1.5;}
.tile.oi3 polygon{stroke: hsla(61, 93%, 52%, 1.0); stroke-width: 1.5 }
.tile.oi4 polygon{stroke: hsla(123, 93%, 52%, 1.0); stroke-width: 1.0}
.tile.oi5 polygon{stroke: hsla(181, 93%, 52%, 1.0); stroke-width: 1.0}
.tile.oi6 polygon{stroke: hsla(221, 93%, 52%, 1.0); stroke-width: 1.0}
.tile.oi7 polygon{stroke: hsla(275, 100%, 48%, 1.0); stroke-width: 1.0}
.tile polygon {pointer-events: all; fill: hsl(200, 50%, 92%); stroke: hsl(0, 0%, 70%); stroke-width: 0.5}
polygon:hover {stroke-width: 1.0; stroke: hsl(0, 0%, 50%) !important;}
.rb polygon {fill: hsl(200, 50%, 87%);}
.tile.d_overlay polygon {fill: hsl(200, 15%, 85%);}
.tile.d_selected polygon {fill: hsl(200, 15%, 69%);}
.tile.unknown polygon {fill: hsla(60, 10%, 95%, 0.5);stroke:inherit;}
.tile.unknown.rb polygon {fill: hsla(60, 10%, 86%, 0.8);}
.tile.unknown polygon:hover {fill: hsla(60, 10%, 90%, 0.1);stroke: hsl(0, 0%, 70%);}
.tile.border polygon{fill: hsl(200, 40%, 70%);}
.tile.border.d_overlay polygon{fill: hsl(200, 40%, 58%);}
.tile.border.d_selected polygon{fill: hsl(200, 30%, 40%);}
.tile.island polygon {fill: hsl(53, 69%, 78%)}
.tile.island.d_overlay polygon {fill: hsl(53, 35%, 70%)}
.tile.island.d_selected polygon {fill: hsl(53, 35%, 50%)}
.tile.reefs polygon {fill: hsl(60, 40%, 94%);}
.tile.reefs.d_overlay polygon {fill: hsl(60, 40%, 84%);}
.tile.reefs.d_selected polygon {fill: hsl(60, 40%, 54%);}
.tile.monster polygon {fill: hsl(0, 28%, 87%);}
.d_overlay {cursor:pointer;}
.tile.q-axis-same polygon {fill: hsl( 90, 20%, 87%)}
.tile.r-axis-same polygon {fill: hsl(200, 15%, 90%)}
.tile.s-axis-same polygon {fill: hsl(300, 10%, 90%)}
.tile.q-axis-same.r-axis-same polygon {fill: hsl(60, 10%, 95%)}
.tile.q-axis-same tspan.q {fill: hsl( 90, 100%, 35%); font-weight: bold}
.tile.r-axis-same tspan.r {fill: hsl(200, 100%, 45%); font-weight: bold}
.tile.s-axis-same tspan.s {fill: hsl(300, 80%, 50%); font-weight: bold}
.dir_arrow{stroke-width:2}
.dir_arrow.pl1 {stroke: hsl(223, 51%, 30%);fill: hsl(223, 51%, 30%);}
.dir_arrow.pl2 {stroke: hsl(0, 57%, 40%);fill: hsl(0, 57%, 40%);}
.dir_arrow.pl3 {stroke: hsl(120, 50%, 40%);fill: hsl(120, 50%, 40%);}
.dir_arrow.pl4 {stroke: hsl(169, 74%, 30%);fill: hsl(169, 74%, 30%);}
.tile text {text-anchor: middle;font-size: 12px;pointer-events: none;}
.cpt4 text {font-weight: bold;}
.tile.tr_pl1 polygon{fill: hsla(223, 51%, 76%, 0.4);}
.tile.tr_pl2 polygon{fill: hsla(25, 81%, 67%, 0.2);}
.tile.tr_pl3 polygon{fill: hsla(120, 50%, 80%, 0.4);}
.tile.tr_pl4 polygon{fill: hsla(169, 74%, 51%, 0.3);}
.tile.pl1 polygon{fill: hsl(223, 51%, 76%);}
.tile.pl1.d_overlay polygon{fill: hsl(223, 30%, 65%);}
.tile.pl1.d_selected polygon{fill: hsl(223, 30%, 45%);}
.tile.pl2 polygon{fill: hsl(25, 81%, 67%);}
.tile.pl2.d_overlay polygon{fill: hsl(25, 55%, 67%);}
.tile.pl2.d_selected polygon{fill: hsl(25, 55%, 47%);}
.tile.pl3 polygon{fill: hsl(120, 50%, 80%);}
.tile.pl3.d_overlay polygon{fill: hsl(120, 40%, 60%);}
.tile.pl3.d_selected polygon{fill: hsl(120, 40%, 40%);}
.tile.pl4 polygon{fill: hsl(169, 74%, 51%);}
.tile.pl4.d_overlay polygon{fill: hsl(169, 57%, 40%);}
.tile.pl4.d_selected polygon{fill: hsl(169, 57%, 30%);}
 .tile.hl polygon {stroke: hsla(264, 93%, 52%, 0.83); stroke-width: 0.7}
.dir_resp {text-align:center;font-style:italic;font-size:90%;padding-top:10px;}
#hint {padding:0.5em;text-align:center;font-family: Verdana, Helvetica, Arial, sans-serif;font-size:12px;color:#555;}
@font-face {font-family: Em; src: url('/em.ttf')}
.em_font {font-family: 'Em', sans-serif;}
